body{
	background-color:#ddd;
	font-family:Josefin Sans;
	margin:8.8vh 0 0 0;
	overflow-x:hidden;
	overscroll-behavior:none;
	text-align:center;
}
.addProduct{
	background-color:#fff;
	box-shadow:0px 0px 40px #000,inset 0px 0px 100px #000;
	color:#666;
	font-size:150px;
	left:0;
	position:fixed;
	text-shadow:4px 4px 8px #888;
	top:0;
	width:100.1vw;
	z-index:2;
}
.productFloating{
	color:#888;
	font-size:54px;
	padding:0 0 0 6vw;
	text-align:left;
	width:12vw;
}
.productName{
	font-size:60px;
	text-align:left;
	z-index:1;
}
.productTotal{
	color:#888;
	font-size:54px;
	padding:0 0 0 6vw;
	text-align:left;
}
.product1{
	background-color:#fff;
	display:inline-block;
	margin:.8vh 0 .8vh 0;
	text-align:center;
	width:95vw;
	z-index:0;
}
.product2{
	margin:1vh 0 1vh 4vw;
	width:90vw;
}