body{
	background-color:#ddd;
	margin-bottom:4vh;
	text-align:center;
}
.add{
	background-color:#fff;
	border-radius:100%;
	box-shadow:10px 10px 16px #888;
	color:#888;
	display:inline-block;
	font-size:150px;
	height:20vw;
	margin-bottom:2vh;
	margin-top:4vh;
	text-shadow:4px 4px 8px #888;
	width:20vw;
}
.container .tab{
	background-color:#fff;
	display:inline-block;
	height:70vh;
	margin-bottom:2vh;
	margin-top:3vh;
	scroll-snap-align:start;
	scroll-margin:3vh;
	width:90vw;
}
.container{
	height:90vh;
	overflow:scroll;
	margin-top:3vh;
	scroll-snap-type:y mandatory;
}