body{
	background-color:#ddd;
	font-family:Josefin Sans;
	margin:9vh 0 2vh 0;
	overflow-x:hidden;
	overscroll-behavior:none;
	text-align:center;
}
.addProduct{
	background-color:#aaa;
	box-shadow:0px 0px 40px #000,inset 0px 0px 120px #000;
	color:#444;
	font-size:150px;
	left:0;
	position:fixed;
	text-shadow:4px 4px 8px #888;
	top:0;
	width:100%;
	z-index:2;
}
.productContainer{
	background-color:#fff;
	display:inline-block;
	margin:.8vh 0 .8vh 0;
	text-align:center;
	width:95vw;
	z-index:0;
}
.productContent{
	margin:1vh 0 1vh 4vw;
	width:89.3vw;
}
.productName{
	color:#555;
	font-size:60px;
	text-align:left;
	z-index:1;
}
.productToEnter{
	color:#888;
	font-size:54px;
	padding:0 0 0 6vw;
	text-align:left;
	width:12vw;
}
.productTotal{
	color:#888;
	font-size:54px;
	padding:0 0 0 6vw;
	text-align:left;
}